@import "../../CONSTS/colors.scss";

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    font-family: $custom_font;
    grid-template-rows: 1fr;
}