@import "../../CONSTS/colors.scss";

.logo-header {
    display : block;
    width: 100%;
    font-family: $custom_font;
    background-color: $secondary_color;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem 0 .8rem;
}

.nav_list li {
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
}

.nav_list li a {
    color: white;
    display: block;
    padding : .6rem 0;
}